table {
  width: 80%;
  border: 2px solid black;
  text-align: center;
  border-collapse: collapse;
  margin: 0 auto;
}

td {

  border: 1px dotted #750946;
}

tr {
  border: 1px dotted #750946;
}

th {
  background-color: #750946;
  color: white;
}

#fondo {
  background-color: #f4f3f5;
}

.hora {
  color: #750946;
  font-style: bold;
}

.libre {
  background-color: #636569;
}

h1 {
  color: #750946;
}

h3 {
  color: #636569;
}

.centrar {
  display: block;
  margin: 0 auto;
  width: 80%;
}
